<div class="header-container">
  <h1>Shopify Internal Product Taxonomy ({{ release_title }})</h1>
  <ul class="header-links">
    <li class="header-links__li header-links__li--first-child"><a href="{{ assets_prefix }}">⬅︎ back to all releases</a></li>
    <li class="header-links__li"><a href="{{ release_prefix }}">Categories</a></li>
    <li class="header-links__li"><a href="{{ release_prefix }}attributes/">Attributes</a></li>
    <li class="header-links__li"><a href="{{ release_prefix }}values/">Values</a></li>
  </ul>
  <p>
    Internal in-development view of Shopify's product taxonomy. Composed of product categories,
    attributes, and attribute values &mdash; this is the working state that has not yet been
    published to the public taxonomy. Structure and naming may still change.
  </p>
  <ul class="header-links">
    <li class="header-links__li header-links__li--first-child"><a href="https://github.com/Shopify/product-taxonomy-internal">GitHub</a></li>
    <li class="header-links__li"><a href="https://shopify.github.io/product-taxonomy/releases/unstable/" target="_blank">Public viewer</a></li>
  </ul>
</div>
